<div class="product-detail">
  <button (click)="goBack()">Go Back</button>
  <table *ngIf="selectedProduct; else notFound">
    <tr>
      <td>ID:</td>
      <td>{{selectedProduct.ProductId}}</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td>{{selectedProduct.ProductName}}</td>
    </tr>
    <tr>
      <td>Price:</td>
      <td>{{selectedProduct.Price}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <img [src]="selectedProduct.Image" [alt]="selectedProduct.ProductName">
      </td>
    </tr>
  </table>
  <ng-template #notFound><p>Không tìm thấy sản phẩm.</p></ng-template>
</div>
